{% extends 'partials/base.html' %}
{% block title %} Inpatient Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row my-4">
        <div class="col-md-6 offset-md-3 p-3 bg-white">
            <div class="border bg-white p-3">
                <h4> Add InPatient </h4>
                <hr>

    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-success "type="submit" value="Submit">
    </form>
    {% endblock content %}



