{% extends 'partials/base.html' %}
{% block title %}Inpatient  Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Inpatient  Page</h3>
        <hr>
        <form>
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-secondary btn-sm" type="submit" value="Confirm" href="{% url 'dashboard-inpatient' %}">Confrim</a>

        </form>
    </div>
</div>
{% endblock %}