<div class="container">
    

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">

                        <a href="{% url 'dashboard-inpatient-form' %}" input class="btn btn-success btn-block" type="submit"> Add Patient</a>

                        
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>











